/* Load HTML */
#previewForm {
    /* max-width: 75vw; */
    /* max-height: 500px; */
    overflow: auto;
    max-height: 90vh;
    /* min-width: 50vw; */
    border: 2px solid red;
}

/* Override */

header {
    position: absolute !important;
}

#gla_page {
    width: fit-content;
}


.gla_slider,
.gla_section {
    background-attachment: inherit !important;
    background-position: 50% 50% !important;
}


 /* TSD */

* {
    scroll-margin: 200px;
}

.tsd-previewText {
    font-size: 24px;
    margin: 16px;
    font-weight: 600;
}

.red-border {
    border: 1px solid red;
    box-shadow: 0 0 5px red;
    padding: 0 16px;
}