.tsd_invitation_container {
    position: fixed;
    display: none;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6)
}

.js-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    font-size: 18px;
    cursor: pointer;
}

.js-open-btn {
    display: none;
}

.tsd--active {
    display: block;
}
